<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        verbose="true"
>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>

    <php>
        <env name="APP_ENV" value="self-testing"/>
        <env name="APP_KEY" value="base64:yk+bUVuZa1p86Dqjk9OjVK2R1pm6XHxC6xEKFq8utH0="/>
        <env name="GOOGLE_MAPS_API_KEY" value="your-key-here"/>
        <env name="GOOGLE_MAPS_API_SERVER_KEY" value="your-server-key-here"/>
        <env name="FILAMENT_GOOGLE_MAPS_SIGNING_KEY" value="your-signing-key-here="/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
    </php>
</phpunit>